DB_HOST=mysql
DB_PORT=3306
DB_USER=ozcoding
DB_PASSWORD=change-me
DB_ROOT_PASSWORD=change-me
DB_NAME=ai_health

SECRET_KEY=change-me-to-random-secret-key

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_URL=redis://redis:6379/0

DOCKER_WEB_IMAGE=your-dockerhub-username/ai-health-fastapi:latest
DOCKER_AI_WORKER_IMAGE=your-dockerhub-username/ai-health-ai-worker:latest
